 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
 }

 body{
  background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(255, 255, 255),rgb(0, 0, 0));
}

.heading{
    width:auto;
    height:150px;
    border: solid 2px rgb(230, 59, 59);
    margin:10px;
    border-radius: 10%;
    box-shadow: 0px 3px 10px 5px blue;
    text-align: center;


}

#font{
    color:black;
    font-size: 50px;
    box-shadow: 2px 5px 10px red;
    
    
}

